<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<style>
			body{
			width:100%; height:100%; margin:0; position:fixed;
			}
		</style>
	</head>
	<body>
	<!--
	 <form action="../thecommons/" method="post">
		<select id="year" class="select-inline" tabindex="1">
                    <option value="" disabled selected>Housing Option</option>
                    <option value="Mako">Mako Hall</option>
                    <option value="Leo">Leo Goodwin Sr. Hall</option>
                    <option value="Commons">The Commons</option>
                    <option value="CLC">Cultural Living Center</option>
                    <option value="Vettel">Vettel Apartments</option>
					<option value="Farquhar">Farquhar Apartments</option>
					<option value="Founders">Founders Apartments</option>
					<option value="Rolling">Rolling Hills Graduate Residence</option>
		</select>
	 <button class="" type="submit" tabindex="2">View</button>
	 </form>
	-->
		<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.269/build/spline-viewer.js"></script>
<spline-viewer loading-anim url="https://prod.spline.design/0vCGGUm2mERH07RO/scene.splinecode"></spline-viewer>
	</body>
</html>