<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
     <link rel="stylesheet" href="registrationstyle.css">
</head>
<style>

</style>
{% block content %}

<body>
    <div id="login">
        <div class="credentials">
            <img src="https://eis.nova.edu/authenticationendpoint/nsu/nsu-logo.png" alt="Nova Southeastern University">
            <div class="stripe"></div>
            <form method="post" id="loginForm" class="form-inline">
                {% csrf_token %}
                <div class="alert alert-danger" id="error-msg">Registration failed! Please recheck the length of the
                    password and the email and try again.
                </div>
                <div class="form-group">
                    <input id="username" name="username" type="text" class="form-control" tabindex="0"
                        placeholder="Username">
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="hidden" name="sessionDataKey" value="01d87362-6e93-4c32-9db2-4e6ab2c42868">
                </div>
                <select id="year" class="select-inline" tabindex="2">
                    <option value="" disabled selected>Current Year</option>
                    <option value="1">First Year</option>
                    <option value="2">Second Year</option>
                    <option value="3">Third Year</option>
                    <option value="4">Fourth Year</option>
                    <option value="5">Post Graduate</option>
                </select>

                <div class="form-actions">
                    <button id="submitform" class="btn btn-default btn-block" type="submit">Register</button>
                    <input disabled="disabled" value="Authenticating" class="btn btn-default btn-block" style="display:none" tabindex="3" type="button">
                </div>
            </form>
            {% endblock %}
        </div>
        <div id="footer">
            <div class="alert-error" id="error-msg">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
        </div>
    </div>
    </div>

</body>

</html>